html {

    scroll-behavior: smooth;
}
body {
}
.showing-box > div {
    display: none;
  }
  .showing-box .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .start {
    width: 100%;
    border: unset;
    padding: 16px 32px;
    cursor: pointer;
  }
  .control-box {
    display: flex;
    margin-top: 100px;
  }
  .control-box ul {
    list-style: none;
  }
  .control-box ul li {
    list-style-type: decimal;
  }
  .control-box button {
    width: 100%;
    /* border: unset; */
    padding-block: 4px;
    margin-top: 8px;
    cursor: pointer;
    text-align: left;
  }
  .control-box button:hover {
    background-color: bisque;
  }
  .control-box button:focus {
    background-color: bisque;
  }
  .dom1 {
    border-top: 2px solid green !important;
    border-inline: unset;
    border-bottom: unset;
    
  }
  .dom2 {
    border-top-width: 10px;
    border-top: double !important;
    border-top-color: green !important;
    border-inline: unset;
    border-block-end: unset;
  }
  .dom3 {
    border-top-width: 10px;
    border-top: double !important;
    border-top-color: green !important;
    border-right-width: 10px;
    border-right: solid !important;
    border-right-color: green !important;
    border-block-end: unset;
    border-inline-start: unset;
  }
  .dom4 {
    border-right: 4px double green;
    border-top: 4px double green;
    border-left: unset;
    border-bottom: unset;
    
  }
  .divide {
    margin-top: 100px;
  }
  button.deprecated {
    border: unset;
    color: red;
    text-decoration: line-through;
    
  }