html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
ul,
li {
  font-family: "Montserrat", sans-serif;
}
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.kichthuoc {
  width: 100px;
  height: 100px;
  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
  max-height: 300px;
  padding: 100px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-block: 70px;
  padding-inline: 70px;
  padding-block-start: 40px;
  padding-block-end: 60px;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  display: block;
  border: 10px solid blue;
  border-top-width: 40px;
  border-left-width: 10px;
  border-right-width: 30px;
  border-bottom-width: 20px;
}
.vitri {
  position: relative;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  /* float: right; */
  position: unset;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.mausac {
  background-color: red;
  color: white;
  border-color: cyan;
  border-top-color: yellow;
  border-left-color: blue;
  border-right-color: black;
  border-bottom-color: brown;
}
#total {
  font-weight: 700;
  font-size: 32;
  padding: 20px;
}
.container {
  overflow: auto;
}
.container .box {
  display: none;
}
.container .show {
  display: block;
}
#note {
  background-color: greenyellow;
  /* padding: 8px 16px; */
  line-height: 40px;
  margin: 10px;
}
#note.show {
  animation: note-show 2s 1;
}
@keyframes note-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#warning {
  background-color: greenyellow;
  /* padding: 8px 16px; */
  line-height: 40px;
  margin: 10px;
}
#warning.show {
  animation: waning-show 2s 1;
  border: 5px solid yellow;
}
@keyframes waning-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#warning {
  margin: 10px;
  background-color: red;
  color: white;
  line-height: 40px;
}
.wrap-demo {
  border: 50px solid gray;
}
.wrap-control button {
  width: unset;
}
/* button */
button {
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  width: 100%;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: unset;
}
button:hover {
  background-color: gray;
  color: white;
}
button:focus {
  background-color: blue;
  color: white;
  font-weight: 700;
}
/* end button */
/* list */
ul {
  list-style: decimal;
}
/* end list */
/* class for js */

.width {
  width: 200px;
  background-color: red;
}
.height {
  height: 200px;
  background-color: red;
}
.min-width {
  min-width: 200px;
  background-color: red;
}
.min-height {
  min-height: 200px;
  background-color: red;
}
.max-width {
  max-width: 200px;
  background-color: red;
}
.max-height {
  max-height: 200px;
  background-color: red;
}
.padding {
  padding: 50px;
}
.box-sizing {
  box-sizing: border-box;
  width: 100px;
  padding: 50px;
  background-color: red;
  height: 100px;
}
.padding-top {
  padding-top: 100px;
}
.padding-right {
  padding-right: 100px;
}
.padding-bottom {
  padding-bottom: 100px;
}
.padding-left {
  padding-left: 100px;
}
.padding-block {
  padding-block: 100px;
}
.padding-block-start {
  padding-block-start: 100px;
}
.padding-block-end {
  padding-block-end: 100px;
}
.padding-inline {
  padding-inline: 100px;
}
.padding-inline-start {
  padding-inline-start: 100px;
}
.padding-inline-end {
  padding-inline-end: 100px;
}
.display-inline {
  display: inline;
  background-color: red;
}
.display-inline-block {
  display: inline-block;
  background-color: red;
}
.display-block {
  display: block;
  background-color: red;
}
.display-flex {
  display: flex;
  background-color: red;
}
.display-grid {
  display: grid;
  background-color: red;
}
.display-table {
  display: table;
  background-color: red;
}
.display-inline-flex {
  display: inline-flex;
  background-color: red;
}
.display-inline-grid {
  display: inline-grid;
  background-color: red;
}
.display-inline-table {
  display: inline-table;
}
.border {
  border: 10px solid red;
}
.border-top-width {
  border-color: red;
  border-top-width: 10px;
  border-top-style: dashed;
}
.border-right-width {
  border-color: red;
  border-right-width: 10px;
  border-right-style: dashed;
}
.border-bottom-width {
  border-color: red;
  border-bottom-width: 10px;
  border-bottom-style: dashed;
}
.border-left-width {
  border-color: red;
  border-left-width: 10px;
  border-left-style: dashed;
}
.border-block {
  border-block: 10px solid red;
}
.border-block-start-width {
  border-block-start-width: 10px;
  border-block-start-color: red;
  border-block-start-style: dashed;
}
.border-block-end-width {
  border-block-end-width: 10px;
  border-block-end-color: red;
  border-block-end-style: dashed;
}

.border-inline-width {
  border-inline-width: 10px;
  border-inline-color: red;
  border-inline-style: dashed;
}
.border-inline-start-width {
  border-inline-start-width: 10px;
  border-inline-start-color: red;
  border-inline-start-style: dashed;
}
.border-inline-end-width {
  border-inline-end-width: 10px;
  border-inline-end-color: red;
  border-inline-end-style: dashed;
}
.aspect-ratio {
  width: 200px;
  background-color: red;
  overflow: scroll;
  animation: aspectRatio 2s infinite alternate;
}
@keyframes aspectRatio {
  0% {
    aspect-ratio: 16/9;
  }
  100% {
    aspect-ratio: 4/3;
  }
}
.flex-grow {
  display: flex;
  border: 5px solid blue;
  overflow: scroll;
}
.flex-grow > div {
  border: 10px solid red;
  padding: 20px;
}
.flex-grow > div:nth-child(1) {
  background-color: yellow;
  flex-grow: 1;
  animation: flexGrow 2s linear infinite alternate;
}
.flex-grow > div:nth-child(2) {
  background-color: green;
  flex-grow: 4;
}
@keyframes flexGrow {
  0% {
    flex-grow: 1;
  }
  100% {
    flex-grow: 10;
  }
}
.flex-shrink {
  display: flex;
  border: 5px solid blue;
  overflow: scroll;
}
.flex-shrink > div {
  border: 10px solid red;
  padding: 20px;
  flex-shrink: 1;
}
.flex-shrink > div:nth-child(1) {
  background-color: yellow;
  animation: flexShrink 2s linear infinite alternate;
}
.flex-shrink > div:nth-child(2) {
  background-color: green;
}
@keyframes flexShrink {
  0% {
    flex-shrink: 10;
  }
  100% {
    flex-shrink: 100;
  }
}
.transform {
  animation: transfrom 20s infinite;
  background-color: yellow;
}
@keyframes transfrom {
  5% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(180deg);
  }
  15% {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  25% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(180deg);
  }
  35% {
    transform: scale(1);
  }
  40% {
    transform: scale(0);
  }
  45% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  55% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0);
  }
  55% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(145deg);
  }
  65% {
    transform: skewX(0deg);
  }
  70% {
    transform: skewX(145deg);
  }
  75% {
    transform: skewY(0deg);
  }
  80% {
    transform: skewY(145deg);
  }
  85% {
    transform: translate(100px, 100px);
  }
  90% {
    transform: translate(200px, 200px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(200px);
  }
}
.translate {
  animation: translate 2s infinite;
}
@keyframes translate {
  from {
    translate: 0px 0px;
  }
  to {
    translate: 100px 100px;
  }
}
.rotate {
  animation: rotate 2s infinite;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.scale {
  animation: scale 2s infinite;
}
@keyframes scale {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
/* end class for js */
.attribute {
  display: flex;
}

.attribute ul li:first-of-type {
  margin-top: 20px;
}

/* vi tri */
.margin {
  margin: auto;
  border: 1px solid red;
  animation: margin 2s infinite alternate;
}
@keyframes margin {
  from {
    max-width: 200px;
  }
  to {
    max-width: 1000px;
  }
}
.margin-top {
  margin-top: -20px;
  border: 1px solid red;
  animation: margin-top 2s infinite alternate;
}
@keyframes margin-top {
  from {
    margin-top: -100px;
  }
  to {
    margin-top: 100px;
  }
}
.margin-left {
  border: 1px solid red;
  animation: margin-left 2s infinite alternate;
}
@keyframes margin-left {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 100px;
  }
}
.margin-right {
  border: 1px solid red;
  animation: margin-right 2s infinite alternate;
}
@keyframes margin-right {
  from {
    margin-right: -100px;
  }
  to {
    margin-right: 100px;
  }
}
.margin-bottom {
  border: 1px solid red;
  animation: margin-bottom 2s infinite alternate;
}
@keyframes margin-bottom {
  from {
    margin-bottom: -100px;
  }
  to {
    margin-bottom: 100px;
  }
}
.margin-block-start {
  border: 1px solid red;
  animation: margin-block-start 2s infinite alternate;
}
@keyframes margin-block-start {
  from {
    margin-block-start: -100px;
  }
  to {
    margin-block-start: 100px;
  }
}
.margin-block-end {
  border: 1px solid red;
  animation: margin-block-end 2s infinite alternate;
}
@keyframes margin-block-end {
  from {
    margin-block-end: -100px;
  }
  to {
    margin-block-end: 100px;
  }
}
.margin-inline-start {
  border: 1px solid red;
  animation: margin-inline-start 2s infinite alternate;
}
@keyframes margin-inline-start {
  from {
    margin-inline-start: -100px;
  }
  to {
    margin-inline-start: 100px;
  }
}
.margin-inline-end {
  border: 1px solid red;
  animation: margin-inline-end 2s infinite alternate;
}
@keyframes margin-inline-end {
  from {
    margin-inline-end: -100px;
  }
  to {
    margin-inline-end: 100px;
  }
}
.relative {
  position: relative;
  border: 1px solid red;
  animation: relative 2s infinite alternate;
}
@keyframes relative {
  0% {
    left: -100px;
    top: 0;
  }
  25% {
    left: -100px;
    top: -100px;
  }
  50% {
    left: 100px;
    top: -100px;
  }
  75% {
    bottom: 100px;
    top: 100px;
  }
  100% {
    left: -100px;
    top: 0;
  }
}
.fixed {
  border: 1px solid red;
  position: fixed;
  animation: fixed 2s infinite alternate;
}
@keyframes fixed {
  0% {
    left: -100px;
    top: 0;
  }
  25% {
    left: -100px;
    top: -100px;
  }
  50% {
    left: 100px;
    top: -100px;
  }
  75% {
    bottom: 100px;
    top: 100px;
  }
  100% {
    left: -100px;
    top: 0;
  }
}
.absolute {
  border: 1px solid red;
  position: absolute;
  animation: absolute 2s infinite alternate;
}
@keyframes absolute {
  0% {
    left: -100px;
    top: 0;
  }
  25% {
    left: -100px;
    top: -100px;
  }
  50% {
    left: 100px;
    top: -100px;
  }
  75% {
    bottom: 100px;
    top: 100px;
  }
  100% {
    left: -100px;
    top: 0;
  }
}
.left {
  border: 1px solid red;
  position: relative;
  animation: left 2s infinite alternate;
}
@keyframes left {
  from {
    left: -100px;
  }
  to {
    left: 100px;
  }
}
.top {
  border: 1px solid red;
  position: relative;
  animation: top 2s infinite alternate;
}
@keyframes top {
  from {
    top: -100px;
  }
  to {
    top: 100px;
  }
}
.right {
  border: 1px solid red;
  position: relative;
  animation: right 2s infinite alternate;
}
@keyframes right {
  from {
    right: -100px;
  }
  to {
    right: 100px;
  }
}
.bottom {
  border: 1px solid red;
  position: relative;
  animation: bottom 2s infinite alternate;
}
@keyframes bottom {
  from {
    bottom: -100px;
  }
  to {
    bottom: 100px;
  }
}
.float > img {
  float: right;
  border: 1px solid red;
}
.justify-content {
  display: flex;
  animation: justify-content 8s infinite;
  height: 200px;
}
.justify-content > div {
  border: 1px solid red;
}
@keyframes justify-content {
  16% {
    justify-content: flex-start;
  }
  32% {
    justify-content: space-evenly;
  }
  48% {
    justify-content: space-around;
  }
  64% {
    justify-content: space-between;
  }
  80% {
    justify-content: center;
  }
  96% {
    justify-content: flex-end;
  }
}
.align-items {
  display: flex;
  animation: align-items 8s infinite;
  height: 200px;
}
.align-items > div {
  border: 1px solid red;
}
@keyframes align-items {
  20% {
    align-items: flex-start;
  }
  40% {
    align-items: center;
  }
  60% {
    align-items: flex-end;
  }
  80% {
    align-items: baseline;
  }
  100% {
    align-items: stretch;
  }
}
.flex-wrap {
  border: 1px solid red;
  animation: flex-wrap 5s infinite;
  display: flex;
}
.flex-wrap > div {
  width: 50%;
  border: 1px solid green;
  box-sizing: border-box;
}
@keyframes flex-wrap {
  30% {
    flex-wrap: nowrap;
  }
  60% {
    flex-wrap: wrap;
  }
  90% {
    flex-wrap: wrap-reverse;
  }
}
.flex-direction {
  border: 1px solid red;
  animation: flex-direction 5s infinite;
  display: flex;
}
.flex-direction > div {
  border: 1px solid green;
  box-sizing: border-box;
}
@keyframes flex-direction {
  25% {
    flex-direction: row;
  }
  50% {
    flex-direction: row-reverse;
  }
  75% {
    flex-direction: column;
  }
  100% {
    flex-direction: column-reverse;
  }
}
.align-self {
  border: 5px solid red;

  display: flex;
  height: 400px;
}
.align-self > div {
  border: 1px solid gray;
}
.align-self > div:nth-child(3) {
  border: 5px solid green;
  animation: align-self 5s infinite;
}
@keyframes align-self {
  20% {
    align-self: flex-start;
  }
  40% {
    align-self: center;
  }
  60% {
    align-self: flex-end;
  }
  80% {
    align-self: baseline;
  }
  100% {
    align-self: stretch;
  }
}
.align-content {
  border: 5px solid red;

  display: flex;
  height: 400px;
  flex-wrap: wrap;
  animation: align-content 5s infinite;
}
.align-content > div {
  border: 1px solid gray;
}
@keyframes align-content {
  20% {
    align-content: flex-start;
  }
  40% {
    align-content: center;
  }
  60% {
    align-content: flex-end;
  }
  80% {
    align-content: space-around;
  }
  100% {
    align-content: space-between;
  }
}
.background-position {
  background-image: url("https://i.pravatar.cc");
  animation: background-position 2s infinite;
  height: 500px;
}
@keyframes background-position {
  from {
    background-position: top left;
  }
  from {
    background-position: bottom right;
  }
}
.background-position-x {
  background-image: url("https://i.pravatar.cc");
  animation: background-position-x 2s infinite;
  height: 500px;
}
@keyframes background-position-x {
  from {
    background-position-x: 10%;
  }
  from {
    background-position-x: 100%;
  }
}
.background-position-y {
  background-image: url("https://i.pravatar.cc");
  animation: background-position-y 2s infinite;
  height: 500px;
}
@keyframes background-position-y {
  from {
    background-position-y: 10%;
  }
  from {
    background-position-y: 100%;
  }
}
.text-align {
  animation: text-align 6s infinite;
}
@keyframes text-align {
  20% {
    text-align: start;
  }
  40% {
    text-align: center;
  }
  60% {
    text-align: end;
  }
  80% {
    text-align: justify;
  }
  90% {
    text-align: left;
  }
  100% {
    text-align: right;
  }
}
/* end vi tri */
/* mau sac */
.background {
  animation: backgrounds 2s infinite;
}
@keyframes backgrounds {
  from {
    background-color: red;
    color: white;
  }
  to {
    background-color: yellow;
    color: black;
  }
}
.background {
  animation: backgrounds 2s infinite alternate;
}
@keyframes backgrounds {
  from {
    background: red;
    color: white;
  }
  to {
    background: yellow;
    color: black;
  }
}
.background-color {
  animation: background-color 3s infinite;
}
@keyframes background-color {
  from {
    background-color: blue;
  }
  to {
    background-color: green;
  }
}
.background-image {
  animation: background-image 3s infinite alternate;
}
@keyframes background-image {
  from {
    background-image: url("https://i.pravatar.cc");
    background-size: cover;
  }
  to {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Hopetoun_falls.jpg/640px-Hopetoun_falls.jpg");
    background-size: cover;
  }
}
.background-image-linear {
  animation: background-image-linear 3s infinite alternate;
}
@keyframes background-image-linear {
  from {
    background-image: linear-gradient(to right, red, green);
  }
  to {
    background-image: linear-gradient(to right, red, yellow);
  }
}
.background-image-conic {
  animation: background-image-conic 3s infinite alternate;
}
@keyframes background-image-conic {
  from {
    background-image: conic-gradient(red 45deg, green 90deg);
  }
  to {
    background-image: conic-gradient(red 100deg, yellow 130deg);
  }
}
.color {
  animation: color 3s infinite alternate;
}
@keyframes color {
  from {
    color: red;
    font-weight: 900;
  }
  to {
    color: blue;
    font-weight: 900;
  }
}
.border-color {
  animation: border-color 3s infinite alternate;
  border: 10px solid transparent;
}
@keyframes border-color {
  from {
    border-color: red;
  }
  to {
    color: blue;
    border-color: yellow;
  }
}
.border-top-color {
  animation: border-top-color 3s infinite alternate;
  border-top: 10px solid;
}
@keyframes border-top-color {
  from {
    border-top-color: red;
  }
  to {
    color: blue;
    border-top-color: yellow;
  }
}
.border-bottom-color {
  animation: border-bottom-color 3s infinite alternate;
  border-bottom: 10px solid;
}
@keyframes border-bottom-color {
  from {
    border-bottom-color: red;
  }
  to {
    color: blue;
    border-bottom-color: yellow;
  }
}
.border-right-color {
  animation: border-right-color 3s infinite alternate;
  border-right: 10px solid;
}
@keyframes border-right-color {
  from {
    border-right-color: red;
  }
  to {
    color: blue;
    border-right-color: yellow;
  }
}
.border-left-color {
  animation: border-left-color 3s infinite alternate;
  border-left: 10px solid;
}
@keyframes border-left-color {
  from {
    border-left-color: red;
  }
  to {
    color: blue;
    border-left-color: yellow;
  }
}
.border-block-color {
  animation: border-block-color 3s infinite alternate;
  border-block: 10px solid;
}
@keyframes border-block-color {
  from {
    border-block-color: red;
  }
  to {
    color: blue;
    border-block-color: yellow;
  }
}
.border-block-start-color {
  animation: border-block-start-color 3s infinite alternate;
  border-block-start: 10px solid;
}
@keyframes border-block-start-color {
  from {
    border-block-start-color: red;
  }
  to {
    color: blue;
    border-block-start-color: yellow;
  }
}
.border-block-end-color {
  animation: border-block-end-color 3s infinite alternate;
  border-block-end: 10px solid;
}
@keyframes border-block-end-color {
  from {
    border-block-end-color: red;
  }
  to {
    color: blue;
    border-block-end-color: yellow;
  }
}
.border-inline-color {
  animation: border-inline-color 3s infinite alternate;
  border-inline: 10px solid;
}
@keyframes border-inline-color {
  from {
    border-inline-color: red;
  }
  to {
    color: blue;
    border-inline-color: yellow;
  }
}
.border-inline-start-color {
  animation: border-inline-start-color 3s infinite alternate;
  border-inline-start: 10px solid;
}
@keyframes border-inline-start-color {
  from {
    border-inline-start-color: red;
  }
  to {
    color: blue;
    border-inline-start-color: yellow;
  }
}
.border-inline-end-color {
  animation: border-inline-end-color 3s infinite alternate;
  border-inline-end: 10px solid;
}
@keyframes border-inline-end-color {
  from {
    border-inline-end-color: red;
  }
  to {
    color: blue;
    border-inline-end-color: yellow;
  }
}
.scrollbar-color {
  animation: scrollbar-color 3s infinite alternate;
}
@keyframes scrollbar-color {
  from {
    scrollbar-color: red;
  }
  to {
    scrollbar-color: yellow;
  }
}
.webkit-scroolbar-thumb {
  height: 100px;
  overflow: auto;
}
.webkit-scroolbar-thumb::-webkit-scrollbar {
  width: 10px;
}
.webkit-scroolbar-thumb::-webkit-scrollbar-thumb {
  background: red;
  overflow: auto;
}
.webkit-scroolbar-track {
  height: 100px;
  overflow: auto;
}
.webkit-scroolbar-track::-webkit-scrollbar {
  width: 10px;
}
.webkit-scroolbar-track::-webkit-scrollbar-track {
  background: red;
  overflow: auto;
}
.box-shadow {
  animation: box-shadow 3s infinite alternate;
  margin: 100px;
}
@keyframes box-shadow {
  from {
    box-shadow: 4px 8px 16px 0 rgba(255, 0, 255, 1);
  }
  to {
    box-shadow: 4px 8px 16px 0 rgba(255, 255, 0, 1);
  }
}
/* end mau sac */
/* chuyen dong */
.animation {
  animation: animation 3s infinite alternate;
  margin: 100px;
}
.animation-name {
  animation: animation 3s infinite alternate;
  margin: 100px;
}
@keyframes animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animation-timing-function {
  animation: animation-timing-function 3s infinite linear;
  margin: 100px;
}
@keyframes animation-timing-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animation-delay {
  animation: animation-delay 3s 1;
  animation-delay: 2s;
  margin: 100px;
}
@keyframes animation-delay {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animation-duration {
  animation: animation-duration 3s infinite;
  animation-duration: 10s;
  margin: 100px;
}
@keyframes animation-duration {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animation-play-state {
  animation: animation-play-state 3s infinite;
  animation-play-state: paused;
  margin: 100px;
}
@keyframes animation-play-state {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animation-iteration-count {
  animation: animation-iteration-count 3s;
  animation-iteration-count: 2;
  margin: 100px;
}
@keyframes animation-iteration-count {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.transition {
  height: 100px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.transition:hover {
  height: 200px;
}
.transition-delay {
  height: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  transition-delay: 1s;
}
.transition-delay:hover {
  height: 200px;
}
.transition-duration {
  height: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  transition-duration: 5s;
}
.transition-duration:hover {
  height: 200px;
}
.transition-timing-function {
  height: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  transition-timing-function: linear;
}
.transition-timing-function:hover {
  height: 200px;
}
.transition-property {
  height: 100px;
  cursor: pointer;
  overflow: hidden;
  transition-property: height;
  transition-duration: 2s;
}
.transition-property:hover {
  height: 200px;
}

/* end chuyen dong */
/* kieu */
.font-family {
  animation: font-family 2s infinite alternate;
  margin: 20px;
  line-height: 30px;
}
@keyframes font-family {
  50% {
    font-family: "Montserrat", sans-serif;
  }
  
  100% {
    font-family: 'Courier New', Courier, monospace;
  }
}
.font-size {
  animation: font-size 6s infinite alternate;
  margin: 20px;
  line-height: 30px;
}
@keyframes font-size {
  0% {
    font-size: 20px;
  }
  
  100% {
    font-size: 80px;
    line-height: 80px;
  }
}
.font-style {
  animation: font-style 3s infinite alternate;
  margin: 20px;
  line-height: 30px;
}
@keyframes font-style {
  30% {
    font-style: normal;
  }
  60% {
    font-style: italic;
  }
  100% {
    font-style: oblique;
  }

}
.font-weight {
  animation: font-weight 6s infinite alternate;
  margin: 20px;
  line-height: 30px;
}
@keyframes font-weight {
  0% {
    font-weight: 100;
  }
  
  100% {
    font-weight: 900;
  }
}
.text-decoration {
  animation: text-decoration 6s infinite;
  margin: 20px;
  line-height: 30px;
}
@keyframes text-decoration {
  25% {
    text-decoration: overline;
  }
  50% {
    text-decoration: line-through;
  }
  75% {
    text-decoration: underline;
  }
  100% {
    text-decoration: underline overline;
  }
}
.text-transform {
  animation: text-transform 6s infinite;
  margin: 20px;
  line-height: 30px;
}
@keyframes text-transform {
  25% {
    text-transform: uppercase;
  }
  50% {
    text-transform: lowercase;
  }
  75% {
    text-transform: capitalize;
  }
  100% {
    text-transform: none;
  }
}
.text-overflow {
  animation: text-overflow 2s infinite;
  margin: 20px;
  line-height: 30px;
  border: 1px solid red;
  white-space: nowrap;
  overflow: hidden;
}
@keyframes text-overflow {
  50% {
    text-overflow: clip;
  }
  100% {
    text-overflow: ellipsis;
  }
}
.text-shadow {
  animation: text-shadow 2s infinite linear alternate;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 100px;
  font-weight: 900;
}
@keyframes text-shadow {
  0% {
    text-shadow: 0px 0px 0px black;
  }
  100% {
    text-shadow: 10px 10px 15px gray;
  }
}
.text-indent {
  animation: text-indent 2s infinite linear alternate;
  text-align: justify;
}
@keyframes text-indent {
  0% {
    text-indent: 10px;
  }
  100% {
    text-indent: 200px;
  }
}
.text-decoration-line {
  animation: text-decoration-line 2s infinite linear alternate;
  text-align: justify;
}
@keyframes text-decoration-line {
  25% {
    text-decoration: overline;
  }
  50% {
    text-decoration: line-through;
  }
  75% {
    text-decoration: underline;
  }
  100% {
    text-decoration: underline overline;
  }
}
.text-decoration-line {
  animation: text-decoration-line 2s infinite linear alternate;
}
@keyframes text-decoration-line {
  25% {
    text-decoration-line: overline;
  }
  50% {
    text-decoration-line: line-through;
  }
  75% {
    text-decoration-line: underline;
  }
  100% {
    text-decoration-line: underline overline;
  }
}
.text-decoration-color {
  text-decoration: underline;
  text-decoration-thickness: 8px;
  line-height: 40px;
  animation: text-decoration-color 4s infinite linear alternate;
}
@keyframes text-decoration-color {
  25% {
    text-decoration-color: red;
  }
  50% {
    text-decoration-color: green;
  }
  75% {
    text-decoration-color: blue;
  }
  100% {
    text-decoration-color: yellow;
  }
}
.text-decoration-thickness {
  text-decoration: underline;
  text-decoration-thickness: 8px;
  line-height: 40px;
  animation: text-decoration-thickness 4s infinite linear alternate;
}
@keyframes text-decoration-thickness {
  25% {
    text-decoration-thickness: 8px;
  }
  50% {
    text-decoration-thickness: 20px;
  }
  75% {
    text-decoration-thickness: 30px;
  }
  100% {
    text-decoration-thickness: 40px;
    
  }
}
.text-align-last {
  text-align-last: 8px;
  line-height: 40px;
  animation: text-align-last 4s infinite linear alternate;
}
@keyframes text-align-last {
  25% {
    text-align-last: auto;
  }
  50% {
    text-align-last: center;
  }
  75% {
    text-align-last: justify;
  }
  100% {
    text-align-last: right;
    
  }
}
.text-decoration-style {
  line-height: 40px;
  animation: text-decoration-style 4s infinite linear alternate;
  text-decoration: underline;
}
@keyframes text-decoration-style {
  16% {
    text-decoration-style: none;
  }
  32% {
    text-decoration-style: dashed;
  }
  48% {
    text-decoration-style: dotted;
  }
  72% {
    text-decoration-style: double;
  }
  80% {
    text-decoration-style: wavy;
    
  }
  100% {
    text-decoration-style: solid;
  }
}
.text-emphasis {
  line-height: 40px;
  animation: text-emphasis 4s infinite linear alternate;
  text-decoration: underline;
}
@keyframes text-emphasis {
  16% {
    
    text-emphasis: filled;
  }
  32% {
    text-emphasis: open;
  }
  48% {
    text-emphasis: double-circle black;
  }
  72% {
    text-emphasis: triangle black;
  }
  
}
.text-emphasis-color {
  line-height: 40px;
  animation: text-emphasis-color 4s infinite linear alternate;
  text-emphasis: triangle;
}
@keyframes text-emphasis-color {
  16% {
    
    text-emphasis-color: red;
  }
  32% {
    text-emphasis-color: blue;
  }
  48% {
    text-emphasis-color: yellow;
  }
  72% {
    text-emphasis-color: purple;
    
  }
  
}
.text-emphasis-position {
  line-height: 40px;
  animation: text-emphasis-position 4s infinite linear alternate;
  text-emphasis: triangle;
}
@keyframes text-emphasis-position {
  16% {
    text-emphasis-position: over;
  }
  32% {
    text-emphasis-position: under;
  }
  48% {
    writing-mode:vertical-rl;
    text-emphasis-position: right;
  }
  72% {
    writing-mode:vertical-rl;
    text-emphasis-position: left;
  }
  
}
.text-emphasis-style {
  line-height: 40px;
  animation: text-emphasis-style 4s infinite linear alternate;
  text-emphasis: triangle;
}
@keyframes text-emphasis-style {
  16% {
    text-emphasis-style: filled;
  }
  32% {
    text-emphasis-style: open;
  }
  48% {
    text-emphasis-style: double-circle;
  }
  72% {
    text-emphasis-style: "#";
    
  }
  
}
.text-justify {
  line-height: 40px;
  animation: text-justify 4s infinite linear alternate;
}
@keyframes text-justify {
  10% {
    text-justify: auto;
  }
  20% {
    text-justify: distribute;
  }
  30% {
    text-justify: distribute-all-lines;
  }
  40% {
    text-justify: inter-cluster;
    
  }
  50% {
    text-justify: inter-ideograph;
    
  }
  60% {
    text-justify: inter-word;
    
  }
  70% {
    text-justify: kashida;
    
  }
  80% {
    text-justify: newspaper;
    
  }
  
}
/* end kieu */
