html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
}
.kichthuoc {
  width: 100px;
  height: 100px;
  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
  max-height: 300px;
  padding: 100px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-block: 70px;
  padding-inline: 70px;
  padding-block-start: 40px;
  padding-block-end: 60px;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  display: block;
  border: 10px solid blue;
  border-top-width: 40px;
  border-left-width: 10px;
  border-right-width: 30px;
  border-bottom-width: 20px;
}
.vitri {
  position: relative;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  /* float: right; */
  position: unset;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.mausac {
  background-color: red;
  color: white;
  border-color: cyan;
  border-top-color: yellow;
  border-left-color: blue;
  border-right-color: black;
  border-bottom-color: brown;
}
.container .box {
  display: none;
}
.container .show {
  display: block;
}
.wrap-demo {
  border: 50px solid blue;
}
.wrap-control button {
  width: unset;
}
/* button */
button {
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  width: 100%;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: unset;
}
button:hover {
  background-color: gray;
  color: white;
}
button:focus {
  background-color: blue;
  color: white;
  font-weight: 700;
}
/* end button */
/* list */
ul {
  list-style: decimal;
}
/* end list */
/* class for js */

.width {
  width: 200px;
  background-color: red;
}
.height {
  height: 200px;
  background-color: red;
}
.min-width {
  min-width: 200px;
  background-color: red;
}
.min-height {
  min-height: 200px;
  background-color: red;
}
.max-width {
  max-width: 200px;
  background-color: red;
}
.max-height {
  max-height: 200px;
  background-color: red;
}
.padding {
  padding: 50px;
}
.box-sizing {
  box-sizing: border-box;
  width: 100px;
  padding: 50px;
  background-color: red;
  height: 100px;
}
.padding-top {
  padding-top: 100px;
}
.padding-right {
  padding-right: 100px;
}
.padding-bottom {
  padding-bottom: 100px;
}
.padding-left {
  padding-left: 100px;
}
.padding-block {
  padding-block: 100px;
}
.padding-block-start {
  padding-block-start: 100px;
}
.padding-block-end {
  padding-block-end: 100px;
}
.padding-inline {
  padding-inline: 100px;
}
.padding-inline-start {
  padding-inline-start: 100px;
}
.padding-inline-end {
  padding-inline-end: 100px;
}
.display-inline {
  display: inline;
  background-color: red;
}
.display-inline-block {
  display: inline-block;
  background-color: red;
}
.display-block {
  display: block;
  background-color: red;
}
.display-flex {
  display: flex;
  background-color: red;
}
.display-grid {
  display: grid;
  background-color: red;
}
.display-table {
  display: table;
  background-color: red;
}
.display-inline-flex {
  display: inline-flex;
  background-color: red;
}
.display-inline-grid {
  display: inline-grid;
  background-color: red;
}
.display-inline-table {
  display: inline-table;
}
.border {
  border: 10px solid red;
}
.border-top-width {
  border-color: red;
  border-top-width: 10px;
  border-top-style: dashed;
}
.border-right-width {
  border-color: red;
  border-right-width: 10px;
  border-right-style: dashed;
}
.border-bottom-width {
  border-color: red;
  border-bottom-width: 10px;
  border-bottom-style: dashed;
}
.border-left-width {
  border-color: red;
  border-left-width: 10px;
  border-left-style: dashed;
}
.border-block {
  border-block: 10px solid red;
}
.border-block-start-width {
  border-block-start-width: 10px;
  border-block-start-color: red;
  border-block-start-style: dashed;
}
.border-block-end-width {
  border-block-end-width: 10px;
  border-block-end-color: red;
  border-block-end-style: dashed;
}

.border-inline-width {
  border-inline-width: 10px;
  border-inline-color: red;
  border-inline-style: dashed;
}
.border-inline-start-width {
  border-inline-start-width: 10px;
  border-inline-start-color: red;
  border-inline-start-style: dashed;
}
.border-inline-end-width {
  border-inline-end-width: 10px;
  border-inline-end-color: red;
  border-inline-end-style: dashed;
}
.aspect-ratio {
  width: 200px;
  background-color: red;
  overflow: scroll;
  animation: aspectRatio 2s infinite alternate;
}
@keyframes aspectRatio {
  0% {
    aspect-ratio: 16/9;
  }
  100% {
    aspect-ratio: 4/3;
  }
}
.flex-grow {
  display: flex;
  border: 5px solid blue;
  overflow: scroll;
}
.flex-grow > div {
  border: 10px solid red;
  padding: 20px;
}
.flex-grow > div:nth-child(1) {
  background-color: yellow;
  flex-grow: 1;
  animation: flexGrow 2s linear infinite alternate;
}
.flex-grow > div:nth-child(2) {
  background-color: green;
  flex-grow: 4;
}
@keyframes flexGrow {
  0% {
    flex-grow: 1;
  }
  100% {
    flex-grow: 10;
  }
}
.flex-shrink {
  display: flex;
  border: 5px solid blue;
  overflow: scroll;
}
.flex-shrink > div {
  border: 10px solid red;
  padding: 20px;
  flex-shrink: 1;
}
.flex-shrink > div:nth-child(1) {
  background-color: yellow;
  animation: flexShrink 2s linear infinite alternate;
}
.flex-shrink > div:nth-child(2) {
  background-color: green;
}
@keyframes flexShrink {
  0% {
    flex-shrink: 10;
  }
  100% {
    flex-shrink: 100;
  }
}
/* end class for js */
.attribute {
  display: flex;
}

.attribute ul li:first-of-type {
  margin-top: 20px;
}


/* vị trí */
.margin {
  margin: auto;
  border: 1px solid red;
  animation: margin 2s infinite alternate;
}
@keyframes margin {
  from {
    max-width: 200px;
  }
  to {
    max-width: 1000px;
  }
}
.margin-top {
  margin-top: -20px;
  border: 1px solid red;
  animation: margin-top 2s infinite alternate;
}
@keyframes margin-top {
  from {
    margin-top: -100px;
  }
  to {
    margin-top: 100px;
  }
}
.margin-left {
  border: 1px solid red;
  animation: margin-left 2s infinite alternate;
}
@keyframes margin-left {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 100px;
  }
}
.margin-right {
  border: 1px solid red;
  animation: margin-right 2s infinite alternate;
}
@keyframes margin-right {
  from {
    margin-right: -100px;
  }
  to {
    margin-right: 100px;
  }
}
.margin-bottom {
  border: 1px solid red;
  animation: margin-bottom 2s infinite alternate;
}
@keyframes margin-bottom {
  from {
    margin-bottom: -100px;
  }
  to {
    margin-bottom: 100px;
  }
}
.margin-block-start {
  border: 1px solid red;
  animation: margin-block-start 2s infinite alternate;
}
@keyframes margin-block-start {
  from {
    margin-block-start: -100px;
  }
  to {
    margin-block-start: 100px;
  }
}
.margin-block-end {
  border: 1px solid red;
  animation: margin-block-end 2s infinite alternate;
}
@keyframes margin-block-end {
  from {
    margin-block-end: -100px;
  }
  to {
    margin-block-end: 100px;
  }
}
.margin-inline-start {
  border: 1px solid red;
  animation: margin-inline-start 2s infinite alternate;
}
@keyframes margin-inline-start {
  from {
    margin-inline-start: -100px;
  }
  to {
    margin-inline-start: 100px;
  }
}
.margin-inline-end {
  border: 1px solid red;
  animation: margin-inline-end 2s infinite alternate;
}
@keyframes margin-inline-end {
  from {
    margin-inline-end: -100px;
  }
  to {
    margin-inline-end: 100px;
  }
}
.relative {
  position: relative;
  border: 1px solid red;
  animation: relative 2s infinite alternate;
}
@keyframes relative {
  0% {
    left: -100px;
    top : 0;
  }
  25% {
    left: -100px;
    top : -100px;
  }
  50% {
    left: 100px;
    top : -100px;
  }
  75% {
    bottom: 100px;
    top : 100px;
  }
  100% {
    left: -100px;
    top:0;
  }
}
.fixed {
  border: 1px solid red;
  position: fixed;
  animation: fixed 2s infinite alternate;
}
@keyframes fixed {
  0% {
    left: -100px;
    top : 0;
  }
  25% {
    left: -100px;
    top : -100px;
  }
  50% {
    left: 100px;
    top : -100px;
  }
  75% {
    bottom: 100px;
    top : 100px;
  }
  100% {
    left: -100px;
    top:0;
  }
}
.absolute {
  border: 1px solid red;
  position: absolute;
  animation: absolute 2s infinite alternate;
}
@keyframes absolute {
  0% {
    left: -100px;
    top : 0;
  }
  25% {
    left: -100px;
    top : -100px;
  }
  50% {
    left: 100px;
    top : -100px;
  }
  75% {
    bottom: 100px;
    top : 100px;
  }
  100% {
    left: -100px;
    top:0;
  }
}
.left {
  border: 1px solid red;
  position: relative;
  animation: left 2s infinite alternate;
}
@keyframes left {
  from {
    left: -100px;
  }
  to {
    left: 100px;
  }
}
.top {
  border: 1px solid red;
  position: relative;
  animation: top 2s infinite alternate;
}
@keyframes top {
  from {
    top: -100px;
  }
  to {
    top: 100px;
  }
}
.right {
  border: 1px solid red;
  position: relative;
  animation: right 2s infinite alternate;
}
@keyframes right {
  from {
    right: -100px;
  }
  to {
    right: 100px;
  }
}
.bottom {
  border: 1px solid red;
  position: relative;
  animation: bottom 2s infinite alternate;
}
@keyframes bottom {
  from {
    bottom: -100px;
  }
  to {
    bottom: 100px;
  }
}
.float > img {
  float: right;
  border: 1px solid red;
}
.justify-content {
  display: flex;
  animation: justify-content 6s infinite;
  height: 200px;
}
.justify-content > div {
  border: 1px solid red;
}
@keyframes justify-content {
  0% {
    justify-content: flex-start;
  }
  20% {
    justify-content: space-evenly;
  }
  40% {
    justify-content: space-around;
  }
  60% {
    justify-content: space-between;
  }
  80% {
    justify-content: center;
  }
  100% {
    justify-content: flex-end;
  }
}
.align-items {
  display: flex;
  animation: align-items 5s infinite;
  height: 200px;
}
.align-items > div {
  border: 1px solid red;
}
@keyframes align-items {
  0% {
    align-items: flex-start;
  }
  25% {
    align-items: center;
  }
  50% {
    align-items: flex-end;
  }
  75% {
    align-items: stretch;
  }
  100% {
    align-items: baseline;
  }
}
/* end vị trí */