.kichthuoc {
    width: 100px;
    height: 100px;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    padding: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-inline: 100px;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
    padding-block: 100px;
    padding-block-end: 100px;
    padding-block-start: 100px;
    box-sizing: border-box;
    aspect-ratio: 2/3;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 0;
    flex: 1;
    grid-template-columns: auto;
    grid-template-areas: auto;
    grid-template-areas: auto auto auto;
    grid-template: auto;
    grid-row: auto;
    background-size: cover;
    
  }
  .vitri {
    margin: 20px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-block: 100px;
    margin-block-start: 100px;
    margin-block-end: 100px;
    margin-inline: 100px;
    margin-inline-end: 100px;
    margin-inline-start: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column;
    float: left;
    clear: both;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-area: auto auto;
    grid-auto-rows: auto;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-attachment: 10% 20%;
    background-clip: border-box;
    background-origin: border-box;
  }
  .mausac {
    border: 1px solid red;
    border-color: yellow;
    border-block-color: blue;
    border-block-end-color: cyan;
    border-block-start-color: black;
    border-inline-color: red;
    border-inline-color: yellow;
    border-inline-end-color: gray;
    border-inline-end-color: green;
    border-top-color: gray;
    border-bottom-color: green;
    border-left-color: gray;
    border-right-color: cyan;
    background-color: red;
    color: white;
    background-blend-mode: darken;
  }
  .nen {
    background-image: url("fldskaj");
    background-repeat: no-repeat;
  }
  .chu {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: italic;
    font-display: inherit;
    font-variant: normal;
    font-feature-settings: "aalt";
    font-stretch: "ok";
    font-variant-ligatures: normal;
    font-variant-numeric: diagonal-fractions;
    font-kerning: auto;
    font-language-override: normal;
    font-variant-position: normal;
    font-size-adjust: none;
    font-synthesis: none;
    font-variant-alternates: normal;
    font-variant-caps: "ok";
    text-decoration: dotted;
    text-align-last: justify;
  }