/* button link */
.wp-block-button {
  position: relative;
  border-radius: 100px;
  display: inline-block;
}
.wp-block-button::before,
.wp-block-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.wp-block-button::before {
  background-image: linear-gradient(160deg, #036ded 0%, #5bd6dd 100%);
  background-image: -moz-linear-gradient(160deg, #036ded 0%, #5bd6dd 100%);
  background-image: -webkit-linear-gradient(160deg, #036ded 0%, #5bd6dd 100%);
}
.wp-block-button::after {
  background-image: linear-gradient(160deg, #5bd6dd 0%, #036ded 100%) !important;
  background-image: -moz-linear-gradient(160deg, #5bd6dd 0%, #036ded 100%) !important;
  background-image: -webkit-linear-gradient(160deg, #5bd6dd 0%, #036ded 100%) !important;
}
.wp-block-button:hover::after {
  opacity: 0;
}

.wp-element-button,
.wp-block-button__link {
  border-width: 0px;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  outline: none;
  display: inline-block;
  border: none;
  color: #fff !important;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 15px 30px !important;
  text-transform: uppercase;
  line-height: 14ppx;
  
  position: relative;
  border-radius: 100px;
  z-index: 100;
  font-size: 14px !important;
  letter-spacing: 0.1em;
  
}
.wp-element-button:hover,
.wp-block-button__link:hover {
  background-color: transparent !important;
  color: white !important;
  font-weight: 400;
}
.wp-element-button:focus,
.wp-block-button__link:focus {
  background-color: transparent !important;

  outline: 1px solid black;
  outline-offset: 2px;

}
/* button link */
/* card */
.wp-single-card {
  border:1px solid #e5e5e5;
  text-align: center;
}
.wp-single-card img {
  width: 100%;
  max-width: 500px;
}

/* end card */